.form-container {
    padding: 20px;
    max-width: 800px;
    /* Wider for 2 cols */
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 16px;
    margin-bottom: 8px;

    .col {
        flex: 1;
    }
}

.full-width {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 16px;
}