.form-container {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.full-width {
    width: 100%;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 16px;
}